<div style="margin-left: 20px; margin-top: 20px">
  <ul *ngFor="let customer of customers" class="list">
    <li>Id: <a class="link-hovered" (click)="find(customer.id)"> {{customer.id}} Name: {{customer.fullName}} email: {{customer.email}} </a></li>
  </ul>

  <form [formGroup]="form" clrlayout="horizontal" class="clr-form clr-form-horizontal">

      <label for="storage_type">Id</label>
      <input clrInput formControlName="id" required/>


      <label>Full name</label>
      <input clrInput formControlName="fullName" required/>


      <label>email</label>
      <input clrInput formControlName="email" required/>


  </form>
  <button class="btn btn-primary" (click)="find(0)">Find</button>
  <button [disabled]="form.invalid" class="btn btn-primary" (click)="save()">save</button>
</div>
