<div class="clr-row" style="margin-left: 24px">

  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
    <button class="btn btn-success" (click)="load()">refresh</button>
    <button class="btn btn-success" (click)="addPersonnel()">add personnel</button>
    <div class="card" *ngFor="let p of personnelList">
      <div class="card-header">
        {{p.id}} - {{p.name}}
      </div>
      <div class="card-block">
        <div class="card-title">
          Details
        </div>
        <div class="card-text">
          Email: {{p.email}} <br>
          Type: {{p.type}} <br>
          Age: {{p.yearsOld}} <br>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-danger" (click)="delete(p.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>

</div>
